name: Pull Request

on:
  pull_request:
    branches:
      - main
      - "feature/**"
    paths:
      - "src/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6-beta
      
      - name: Run Test Script
        run: |
          cd src
          bash test_shell.sh